.wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 12px;
  color: #471aff;
  font-size: 14px;
  font-weight: 500;
  gap: 0.25rem;
  letter-spacing: 0.02em;
  line-height: 20px;
  white-space: nowrap;
}

.button--active {
  background: rgba(71, 26, 255, 0.1);
  border-radius: 8px;
}

.button:disabled {
  color: #471affa6;
  cursor: not-allowed;
}

.buttonText {
  display: none;
}

@media only screen and (min-width: 450px) {
  .button--active .buttonText {
    display: flex;
  }
}

@media only screen and (min-width: 900px) {
  .button {
    min-width: 100px;
  }

  .buttonText {
    display: flex;
  }
}
