.outerWrapper {
  position: absolute;
  overflow: auto;
  left: 0;
  right: 0;
  bottom: 0rem;
  padding-bottom: 0.5rem;
  border-radius: 0 0 12px 12px;
}

/* We can not use flexbox because otherwise the overflow is broken on small displays  */
.wrapperCentering {
  margin: auto;
  width: fit-content
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}