.wrapper {
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
}

.innerWrapper {
  display: flex;
  justify-content: center;
  padding: 0.25rem 1rem;
  margin: 0 auto;
}

.innerWrapper--gap-sm {
  gap: 0.5rem;
}

.innerWrapper--gap-md {
  gap: 1rem;
}

.innerWrapper--gap-lg {
  gap: 1.5rem;
}