.wrapper {
  display: flex;
  overflow: auto;
  height: 76px;
  align-items: center;
  justify-content: center;
}

/* We can not use flexbox because otherwise the overflow is broken on small displays  */
.wrapperCentering {
  width: fit-content;
  margin: auto;
}