.wrapper {
  width: 100%;
  display: flex;
  min-height: 640px;
  flex-grow: 1;
  border-radius: 0.75rem;
  gap: 24px;
}

.sidebar {
  width: 320px;
  padding: 24px;
  background: var(--ubq-surface, #f9f9f9);
  border-radius: 12px;
  overflow-y: auto;
  flex-shrink: 0;
}

@container (width <= 680px) {
  .wrapper {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}
