.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.button {
  padding: 4px 12px;
  border-radius: 4px;
  text-align: left;
}

.button--active {
  background: rgba(71, 26, 255, 0.1);
  color: #471aff;
}
