.header {
  width: 100%;
  color: #161617;
  font-family: 'GT Walsheim Pro';
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.01em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.imageBar {
  display: flex;
  height: max-content;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  gap: 16px;
}

.imageButton {
  box-shadow: 0px 12px 18px -2px rgba(22, 22, 23, 0.12),
    0px 6px 7.5px -2px rgba(22, 22, 23, 0.12),
    0px 3px 5.25px -2px rgba(22, 22, 23, 0.12);
}

.imageButton>* {
  max-width: 140px;
  border-radius: 4px;
}

.imageButton--active>* {
  outline: rgba(255, 255, 255, 1) solid 2px;
}

.imageButton:hover>*, .imageButton:focus>* {
  cursor: pointer;
  opacity: 80%;
  outline: rgba(255, 255, 255, 0.5) solid 2px;
}