.bar {
  width: 100%;
}

.wrapper {
  margin: auto;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}

.innerWrapper {
  display: flex;
  margin: 0 auto;
  padding: 0.25rem 1rem;
  justify-content: center;
  border-radius: 32px;
}

.sliderWrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.sliderBarButtons {
  display: flex;
  flex-basis: 80px;
  flex-shrink: 0;
  gap: 0.25rem;
}

.sliderBarButtons--left-orientated {
  justify-content: flex-start;
}

.sliderBarButtons--right-orientated {
  justify-content: flex-end;
}

@media (min-width: 650px) {
  .wrapper {
    gap: 2rem;
  }

  .sliderBarButtons {
    flex-basis: 100px;
    gap: 1rem;
  }
}