node_modules/
.parcel-cache/
dist/
.git
/integrate-with-svelte/public/build
.DS_Store
build_github/
build_guides/

# Ignore yarn.lock files in all subdirectories
**/yarn.lock

# Ignore package-lock.json files in all subdirectories except showcases-app and tests
**/package-lock.json
!showcases-app/package-lock.json
!tests/package-lock.json

logs/
