.wrapper {
  z-index: 10;
  position: absolute;
  inset: 0;
  background: rgba(243, 245, 246, 0.9);
  box-shadow: 0px 0px 2px rgba(22, 22, 23, 0.25), 0px 12px 18px -2px rgba(22, 22, 23, 0.12), 0px 6px 7.5px -2px rgba(22, 22, 23, 0.12), 0px 3px 5.25px -2px rgba(22, 22, 23, 0.12);
  display: flex;
  flex-direction: column;
  border-radius: 14px;
}

.header {
  position: relative;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header>* {
  display: flex;
}

.header>*:first-child {
  justify-content: flex-start;
  flex-grow: 1;
  flex-basis: 0;
}

.header>*:last-child {
  justify-content: flex-end;
  flex-grow: 1;
  flex-basis: 0;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #1C1B1B;
}