.modal {
  position: absolute;
  overflow: hidden;
  max-width: min(1264px, 90%);
  max-height: 90%;
  border-radius: 8px;
  margin: auto;
  background: #d6dbe1;
  box-shadow:
    0px 0px 2px rgba(22, 22, 23, 0.25),
    0px 12px 18px -2px rgba(22, 22, 23, 0.12),
    0px 6px 7.5px -2px rgba(22, 22, 23, 0.12),
    0px 3px 5.25px -2px rgba(22, 22, 23, 0.12),
    0px 0px 200px 50px rgba(22, 22, 23, 0.25);
  inset: 0;
}

.overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cesdkContainer {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 650px) {
  .modal {
    max-width: 100%;
    max-height: 100%;
  }
}
