.wrapper {
  position: absolute;
  right: 0;
  bottom: 1rem;
  left: 0;
  overflow: auto;
}

/* We can not use flexbox because otherwise the overflow is broken on small displays  */
.wrapperCentering {
  width: fit-content;
  margin: auto;
}
