.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  min-height: 48px;
  background: #ECECEE;
  box-shadow: 0px 0px 2px rgba(18, 26, 33, 0.25), 0px 0px 0px -2px rgba(18, 26, 33, 0.12), 0px 0px 0px -2px rgba(18, 26, 33, 0.12), 0px 0px 0px -2px rgba(18, 26, 33, 0.12);
}

.topBar>* {
  display: flex;
}

.topBar>*:first-child {
  justify-content: flex-start;
  flex-grow: 1;
  flex-basis: 0;
}

.topBar>*:last-child {
  justify-content: flex-end;
  flex-grow: 1;
  flex-basis: 0;
}

.spinning {
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}