.actionRow {
  display: flex;
  padding: 8px;
  flex-direction: row;
  justify-content: space-between;
}

.primaryActions {
  display: flex;
  gap: 6px
}

.text {
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  padding: 0px 16px 16px;
}