.previewBlocker {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 80px;
  left: 0;
}

.canvas {
  /* For Safari */
  overflow: hidden;
  flex: 1;
  border-radius: 20px;
}

.wrapper {
  display: flex;
  overflow: hidden;
  width: 100%;
  min-height: 400px;
  flex-grow: 1;
  border-radius: 20px;
}
