.previewBlocker {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 80px;
  left: 0;
}

.canvas {
  /* For Safari */
  overflow: hidden;
  flex: 1;
}

.wrapper {
  display: flex;
  overflow: hidden;
  width: 100%;
  min-height: 400px;
  flex-grow: 1;
}

@media only screen and (min-width: 650px) {
  .canvas {
    border-radius: 20px;
  }

  .wrapper {
    border-radius: 20px;
  }
}