.formWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  align-self: stretch;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
  align-self: stretch;
}

.price {
  text-align: right;
}

.subSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.subSectionTitle {
  color: #000;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: 'IBM Plex Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.28px;
}

.printDetails {
  display: flex;
  flex-direction: row;
  padding: 12px;
  gap: 24px;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--ci-Border-Black-Light, rgba(22, 22, 23, 0.08));
  background: var(--ci-surface-elevation-1-light, #f4f4f5);
  /* Light / State / Hover */
  box-shadow: 0px 0px 0px 1px rgba(18, 26, 33, 0.12) inset;
}

.previewImage {
  height: 120px;
}

.printDetailsText {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  flex-grow: 1;
}

.bold {
  font-weight: 500;
}

.colorPicker {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
  flex-wrap: wrap;
}

.colorPickerButtonWrapper {
  display: flex;
  padding: 2px;
  align-items: center;
  border-radius: 100px;
  border: 2px solid transparent;
}

.colorPickerButtonWrapper.active {
  border-color: black;
}

.colorPickerButton {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  border: 1px solid var(--Light-Stroke-Contrast-2, rgba(18, 26, 33, 0.25));
}

.sizeQuantityInputs {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.sizeQuantityInputWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.sizeQuantityInput {
  width: 100%;
  height: 32px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 6px;
  border: 1px solid rgba(22, 22, 23, 0.24);
  background: var(--CI-Foreground-White-Default, #fff);
  box-shadow: 0px 2px 4px 0px rgba(18, 26, 33, 0.16) inset;
  color: var(--CI-Foreground-Black-Default, #161617);
  font-size: 14px;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.28px;
}

.addToCartButton {
  height: 32px;
  color: var(--ci-Foreground-White-Default, #fff);
  border-radius: 8px;
  background: var(--ci-Foreground-Black-Default, #161617);
}

.addToCartButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.centeredText {
  text-align: center;
}

.downloadLinkText {
  color: var(--CI-v2-Accent-Primary, #5e58ff);
  font-weight: 700;
  cursor: pointer;
}

.downloadLinkText:hover {
  text-decoration: underline;
}

@container (width <= 600px) {
  .header {
    flex-direction: column;
  }
}
