.grid {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.sizePreview {
  display: inline-block;
  height: 40px;
  border: 2px solid rgba(22, 22, 23, 0.25);
}

.sizeTitle {
  color: #161617;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 20px;
  text-align: center;
}

.sizeDimensions {
  color: #161617;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 20px;
  text-align: center;
}
