.processingOverlay {
  grid-area: stack;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: var(--imgly-black-light-color);
}

.processingOverlay svg {
  animation-duration: 1s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.processingOverlay>p {
  font-family: var(--font-family-ibm-sans);
  font-weight: 400;
  line-height: 1.45;
  color: rgba(22, 22, 23, 0.65);
}

.processingOverlay>.processMessage {
  font-size: 1.375rem;
}

.processingOverlay>.processStatus {
  font-size: 0.875rem;
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}