.topBar {
  position: absolute;
  /* Force Topbar above Canvas */
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  gap: 1rem;
}

.doneWrapper {
  display: flex;
  flex-basis: 100%;
  justify-content: flex-end;
  gap: 0.25rem;
}

.zoomContainer {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  gap: 0.5rem;
  line-height: 20px;
}

.centerWrapper {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: space-around;
}

.ctaWrapper {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.ctaText {
  display: none;
}

@media only screen and (min-width: 600px) {
  .ctaText {
    display: flex;
  }
}

.cta:hover, .cta:focus {
  background: #957aff;
}

.spinning {
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}