.wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  animation: 0.2s ease-out 0s 1 slideUp;
}

/* We can not use flexbox because otherwise the overflow is broken on small displays  */
.wrapperCentering {
  width: fit-content;
  margin: auto;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}