.wrapper {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 8px;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.wrapper:hover,
.wrapper:focus {
  border: 2px solid #471aff66;
}