* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#cesdk_container {
  width: 100%;
  height: 100%;
}

#cesdk_container > div {
  width: 100%;
  height: 100%;
}
