.root {
  position: relative;
  height: 0px;
}

.fullWidth {
  width: 100%;
}

.fill {
  position: absolute;
  top: calc(50% - 0px / 2);
  right: 0px;
  left: 0px;
  height: 1px;
  background-color: rgba(18, 26, 33, 0.12);
}