.wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 4rem;
}

.inputsWrapper {
  display: flex;
  max-width: fit-content;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: 0.5rem;
}

.imageSelectionWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.image {
  min-width: 50px;
  height: 100%;
  max-height: 50px;
  border: 2px solid transparent;
  border-radius: 6px;
  object-fit: cover;
}

.imageActiveState {
  border: 2px solid #471aff;
}

.canvas {
  position: relative;
  max-width: 640px;
  max-height: 400px;
  aspect-ratio: 640 / 400;
}