.topBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.undoRedo {
  display: flex;
  gap: 0.5rem;
  min-width: 84px;
}

.undoRedoButton:hover {
  color: #957aff;
}

.undoRedoButton--disabled:hover {
  color: #000;
  cursor: not-allowed;
}

.undoRedoButton--disabled {
  opacity: 0.5;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  min-width: 84px;
  padding: 2px 6px 2px 8px;
  top: 0%;
  bottom: 0%;
  background: #471AFF;
  box-shadow: 0px 0px 2px rgba(22, 22, 23, 0.25), 0px 0px 0px -2px rgba(22, 22, 23, 0.12), 0px 0px 0px -2px rgba(22, 22, 23, 0.12), 0px 0px 0px -2px rgba(22, 22, 23, 0.12);
  border-radius: 8px;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.cta:hover {
  background: #957aff;
}

.spinning {
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}