.sidebar {
  display: flex;
  overflow: scroll;
  flex-direction: column;
  width: 380px;
  min-height: 100vh;
  max-height: 100vh;
  background-color: var(--ci-surface-elevation-1);
  flex-shrink: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.showcasesWrapper {
  padding: 1rem 1.5rem;
  list-style: none;
}

.content {
  display: flex;
  flex-grow: 1;
  background-color: #7B8187;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  overflow: scroll;
  padding: 1rem;
}

.content>* {
  max-width: 1500px;
  max-height: 1000px;
  height: 100%;
  box-sizing: border-box;
}

.showcasesOverflowWrapper {
  flex: 1;
  overflow: scroll;
}

.ctaFooter {
  padding: 1rem 1.5rem;
  display: flex;
  background-color: #fff;
  border-top: 1px solid rgba(22, 22, 23, 0.08);
}

.ctaFooter>* {
  flex: 1 1 0px;
}

.ctaFooter>*+* {
  margin-left: 1rem;
}

.contentFooter {
  z-index: 99;
  position: absolute;
  padding: 0 1rem;
  right: 4rem;
  bottom: 2rem;
  background: none;
  border-radius: 8px;
  background: linear-gradient(0deg, rgba(123, 129, 135, 0.8), rgba(123, 129, 135, 0.8));
}

.contentFooter>a {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.65);
}

.contentFooter>a:hover {
  color: #fff;
}

@media only screen and (min-width: 1440px) {
  .content {
    padding: 2rem;
  }

  .contentFooter {
    bottom: 0.2rem;
    background: none;
  }
}