.headerStyle {
  height: 200px;
}

.previewImageStyle {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.smokeScreenStyle {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(123, 129, 135, 0.6);
  transition: 0.3s;
}

.fullscreenMockupCenterStyle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex: 1;
  place-items: center;
}

.fullscreenMockupWrapperStyle {
  position: absolute;
  z-index: 999999;
  overflow: hidden;
  width: unset;
  max-width: 80%;
  height: auto;
  max-height: 80%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  aspect-ratio: 16/10;
  border-radius: 12px;
  box-shadow: 0px 18px 18px -2px rgba(18, 26, 33, 0.12),
    0px 7.5px 7.5px -2px rgba(18, 26, 33, 0.12),
    0px 3.75px 3.75px -2px rgba(18, 26, 33, 0.12);
}

.button.button--primary {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.06) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #3d5cf5;
  color: white;
}

.button.button--primary:hover,
.button.button--primary:focus {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.06) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #6a82ff;
}

.button.button--solid {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.85);
}

.topBarStyle {
  position: absolute;
  top: 0rem;
  right: 0;
  left: 0rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  gap: 1rem;
  transition: 0.3s;
}

.mockupWrapperStyle .topBarStyle {
  opacity: 0.6;
}

.fullscreenMockupCenterStyle .topBarStyle {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.mockupWrapperStyle:hover .topBarStyle,
.mockupWrapperStyle:focus .topBarStyle {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 1;
}

.button {
  display: flex;
  align-items: center;
  padding: 0 0.25rem;
  border-radius: 6px;
  color: #161617;
  font-size: 14px;
  font-weight: 500;
  gap: 0.25rem;
  line-height: 20px;
  transition: 0.3s;
}

.mockupWrapperStyle:hover .button,
.mockupWrapperStyle:focus .button {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.85);
}

.mockupWrapperStyle {
  position: relative;
  overflow: hidden;
  width: 340px;
  min-width: 240px;
  height: 200px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: #d6dbe1;
  border-radius: 12px;
  box-shadow: 0px 18px 18px -2px rgba(18, 26, 33, 0.12),
    0px 7.5px 7.5px -2px rgba(18, 26, 33, 0.12),
    0px 3.75px 3.75px -2px rgba(18, 26, 33, 0.12);
}

.cesdkStyle {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}

.wrapperStyle {
  min-height: 0;
  flex-grow: 1;
  border-radius: 0.75rem;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25),
    0px 18px 18px -2px rgba(18, 26, 33, 0.12),
    0px 7.5px 7.5px -2px rgba(18, 26, 33, 0.12),
    0px 3.75px 3.75px -2px rgba(18, 26, 33, 0.12);
}
