.outerWrapper {
  /* We can not use flex here */
  display: block;
  flex-grow: 1;
}

.outerWrapper>*+* {
  margin-top: 8px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

.headerText {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-start;
}

.innerWrapper {
  position: relative;
  border-radius: .75rem;
  transition: opacity 0.5s;
  transition-timing-function: ease-in-out;
}

.innerWrapper--empty {
  border: 1px dashed #16161740;
}

.image {
  position: absolute;
  overflow: hidden;
  border-radius: 0.75rem;
  inset: 0;
  object-fit: contain;
}

.image--loading {
  opacity: 0.5;
}

.innerWrapper:hover .editOverlay,
.innerWrapper:focus .editOverlay {
  opacity: 1;
}

.editOverlay {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: rgba(236, 236, 238, 0.5);
  opacity: 0;
  transition: opacity 0.1s;
}

.editButton {
  background: #ffffff;
  box-shadow: 0px 0px 2px rgba(22, 22, 23, 0.25),
    0px 0px 0px -2px rgba(22, 22, 23, 0.12),
    0px 0px 0px -2px rgba(22, 22, 23, 0.12),
    0px 0px 0px -2px rgba(22, 22, 23, 0.12);
}

.editButton:hover,
.editButton:focus {
  background: #ffffff;
  color: #16161799;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}