.container {
  display: flex;
  min-width: 44px;
  flex-basis: 100%;
  gap: 0.5rem;
}

.button:hover,
.button:focus {
  color: #957aff;
}

.button--disabled:hover,
.button--disabled:focus {
  color: #000;
  cursor: not-allowed;
}

.button--disabled {
  opacity: 0.5;
}