.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.infoButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.comparisonWrapper {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  grid-template-columns: 1fr 1px 1fr;
  grid-auto-flow: column;
  grid-gap: 10px;
  max-width: 100%;
  place-content: center;
  flex-grow: 1;

  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.previewText {
  color: var(--ci-foreground-black-light, rgba(22, 22, 23, 0.65));
  font-family: var(--font-family-ibm-sans);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.0175rem;
}

.divider {
  grid-row: span 3;
  width: 1px;
  background-color: gray;
  border-left: 1px solid #D9D9D9;
}

.preview {
  display: flex;
  place-items: center;
}

.preview>span {
  max-width: 15rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  place-items: center;
  color: var(--ci-foreground-black-light, rgba(22, 22, 23, 0.65));
  text-align: center;
  font-family: IBM Plex Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0175rem;
}

.preview>img {
  max-width: 300px;
  max-height: 300px;
  margin: auto;
}

.comparisonImage {
  width: 100%;
  filter: drop-shadow(0px 1px 1.75px rgba(22, 22, 23, 0.12)) drop-shadow(0px 2px 2.5px rgba(22, 22, 23, 0.12)) drop-shadow(0px 4px 6px rgba(22, 22, 23, 0.12)) drop-shadow(0px 0px 2px rgba(22, 22, 23, 0.25));
  object-fit: contain;
}