.wrapper {
  display: flex;
  height: 100%;
  flex-direction: row;
}

.contentWrapper {
  position: relative;
  display: flex;
  min-width: 0;
  flex: 1 1 0;
  flex-direction: column;
}

.headline {
  min-width: 80px;
  color: #161617;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 20px;
}