/* SMALL SET OF UTILITY CLASSES FOR WRAPPERS */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.space-x-1>*+* {
  margin-left: 0.25rem;
}

.space-x-2>*+* {
  margin-left: 0.5rem;
}

.space-x-3>*+* {
  margin-left: 0.75rem;
}

.space-y-1>*+* {
  margin-top: 0.25rem;
}

.space-y-2>*+* {
  margin-top: 0.5rem;
}

.space-y-2>*+* {
  margin-top: 0.75rem;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.rounded {
  border-radius: 0.75rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.h-full {
  height: 100%;
}

/* HR */
hr {
  color: rgba(22, 22, 23, 0.15);
}