.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.block {
  display: flex;
  overflow: hidden;
  width: 100%;
  flex: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px;
  border-radius: 0.75rem;
  background: white;
  box-shadow:
    0px 0px 2px rgba(22, 22, 23, 0.25),
    0px 4px 6px -2px rgba(22, 22, 23, 0.12),
    0px 2px 2.5px -2px rgba(22, 22, 23, 0.12),
    0px 1px 1.75px -2px rgba(22, 22, 23, 0.12);
  gap: 48px;
}

.h4 {
  color: var(--CI-v2-Foreground-Black-Default, #2e2e2f);
  letter-spacing: 0.22px;
}

.h5 {
  color: var(--CI-v2-Foreground-Black-Default, #2e2e2f);
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.36px;
}

.comparisonWrapper {
  display: grid;
  width: 100%;
  grid-auto-flow: column;
  grid-gap: 24px;
  grid-template-columns: 1fr 1px 1fr 1px 1fr;
  grid-template-rows: max-content 1fr max-content;
  text-align: center;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.previewText {
  color: var(--CI-Foreground-Black-Light, rgba(22, 22, 23, 0.65));
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.28px;
  line-height: 20px; /* 142.857% */
}

.divider {
  width: 1px;
  background-color: #d9d9d9;
  grid-row: span 3;
}

.preview {
  display: flex;
  width: 100%;
  place-items: center;
}

.preview > span {
  display: flex;
  max-width: 15rem;
  flex-direction: column;
  margin: auto;
  color: var(--ci-foreground-black-light, rgba(22, 22, 23, 0.65));
  font-family: IBM Plex Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  gap: 0.5rem;
  letter-spacing: 0.0175rem;
  line-height: 1.25rem;
  place-items: center;
  text-align: center;
}

.preview > img {
  max-width: 100%;
}

.comparisonImage {
  width: 100%;
  object-fit: contain;
  border-radius: 4px;
  box-shadow:
    0px 0px 2px 0px rgba(46, 46, 47, 0.25),
    0px 4px 6px -2px rgba(46, 46, 47, 0.12),
    0px 2px 2.5px -2px rgba(46, 46, 47, 0.12),
    0px 1px 1.75px -2px rgba(46, 46, 47, 0.12);
}

.link {
  color: var(--ubq-Interactive-Accent-Default, #4c6fff);
}
