.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  gap: 1rem;
}

.wrapper>* {
  max-height: 72px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  height: 100%;
}