.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 12px 12px 0px 0px;
  min-height: 4.5rem;
}

.innerWrapper {
  display: flex;
  margin: 0 auto;
  padding: 0.25rem 1rem;
  justify-content: center;
  border-radius: 33.2818px;
}

.innerWrapper--gap-sm {
  gap: 0.5rem;
}

.innerWrapper--gap-md {
  gap: 1rem;
}

.innerWrapper--gap-lg {
  gap: 1.5rem;
}