.wrapper--dark {
  --colorpicker-background-color: #161617;
  --colorpicker-border-color: rgba(255, 255, 255, 0.25);
  --colorpicker-arrow-color: white;
}

.wrapper--sm {
  --colorpicker-input-padding: 0.2rem 0.7rem 0.2rem 0.2rem;
}

.wrapper--lg {
  --colorpicker-input-padding: 6px 11px 6px 6px;
}

.wrapper--light {
  --colorpicker-background-color: white;
  --colorpicker-border-color: rgba(0, 0, 0, 0.25);
  --colorpicker-arrow-color: #161617;
}

.label {
  min-width: 5rem;

  color: #161617;
  font-family: var(--font-family-ibm-sans);
  font-size: 14px;
  letter-spacing: 0.02em;
}

.input {
  display: none;
}

.colorPreviewSpan {
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--colorpicker-border-color);
  border-radius: 9999px;
  color: var(--colorpicker-arrow-color);
}

.pickerModal {
  position: absolute;
  z-index: 99;
  width: min-content;
  padding: 0.4rem;
  margin: 0 !important;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 0px 2px rgba(18, 26, 33, 0.25),
    0px 12px 12px -2px rgba(18, 26, 33, 0.12),
    0px 5px 5px -2px rgba(18, 26, 33, 0.12),
    0px 2.5px 2.5px -2px rgba(18, 26, 33, 0.12);
}

.pickerModal--right {
  left: 0rem;
}

.pickerModal--left {
  right: 0rem;
}

.pickerModal--top {
  bottom: 2rem;
}

.pickerModal--bottom {
  top: 2rem;
}

.pickerModal :global(.react-colorful) {
  width: 150px;
  height: 150px;
  gap: 4px;
}

.pickerModal :global(.react-colorful)>* {
  border-radius: 6px;
}

.pickerModal input {
  width: 100%;
  border: 1px solid rgba(22, 22, 23, 0.08);
  border-radius: 6px;
  box-shadow: inset 0px 2px 4px rgba(18, 26, 33, 0.16);
  color: #161617;
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 28px;
}

.inputWrapper {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: var(--colorpicker-input-padding);
  border: 1px solid rgba(22, 22, 23, 0.65);
  background: var(--colorpicker-background-color);
  border-radius: 9999px;
  box-shadow: 0px 0px 2px rgba(18, 26, 33, 0.25),
    0px 6px 6px -2px rgba(18, 26, 33, 0.12),
    0px 2.5px 2.5px -2px rgba(18, 26, 33, 0.12),
    0px 1.25px 1.25px -2px rgba(18, 26, 33, 0.12);
  color: var(--colorpicker-arrow-color);
  cursor: pointer;
}

.selectionWrapper {
  position: relative;
  display: flex;
  align-items: center;
  background: linear-gradient(0deg, #FAFAFA, #FAFAFA);
  border-radius: 9999px;
}

.colorPreset {
  width: 1rem;
  height: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin: 0 4px;
  border-radius: 999px;
  cursor: pointer;
}

.colorPreset:hover,
.colorPreset:focus-visible {
  border: 1px solid rgba(0, 0, 0, 0.75);
}