.wrapper {
  overflow-y: auto;
}

.bar {
  position: relative;
  width: max-content;
  min-width: 100%;
  min-height: 96px;
  padding: 8px;
  background-color: white;
  gap: 8px;
}

.image {
  height: 80px;
  border-radius: 8px;
}

.image--loading {
  opacity: 0.7;
}

.button {
  position: relative;
}

.button:disabled {
  cursor: not-allowed;
}
