.modal {
  display: flex;
  /* Min height ensures that no layout jumps happen */
  min-height: 670px;
  flex-basis: 330px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  background: #fafafa;
  box-shadow: 0px 0px 2px rgba(18, 26, 33, 0.25), 0px 6px 6px -2px rgba(18, 26, 33, 0.12), 0px 2.5px 2.5px -2px rgba(18, 26, 33, 0.12), 0px 1.25px 1.25px -2px rgba(18, 26, 33, 0.12);
  border-radius: 12px;
}

.title {
  padding: 16px 16px 0;
  color: rgba(18, 26, 33, 0.9);
  font-family: var(--font-family-gt);
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1%;
  line-height: 32px;
}

.body {
  display: flex;
  width: 100%;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
}

.mimeType {
  width: calc(100% - 32px);
  margin: 20px 16px 0;
}

.pages {
  width: calc(100% - 28px - 16px);
  margin: 12px 16px 0 28px;
}

.quality {
  width: calc(100% - 28px - 16px);
  margin: 12px 16px 12px 28px;
}

.resolution {
  width: calc(100% - 28px - 16px);
  margin: 12px 16px 0 28px;
}

.subtitle {
  display: flex;
  align-items: center;

  padding: 12px 0;

  color: rgba(22, 22, 23, 0.65);
  font-family: var(--font-family-ibm-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 20px;
}

.smallDivider {
  width: calc(100% - 32px);
  margin-top: 16px;
}

.footer {
  margin-top: 16px;
}