.wrapper {
  position: relative;
  box-sizing: border-box;
  padding: 8px;
  border: 2px solid #471aff;
  background: #FAFAFA;
  border-radius: 8px;
}

.image {
  width: 140px;
  height: 140px;
  object-fit: contain;
  transform: translateZ(131px);
}

.wrapper:hover .editOverlay,
.wrapper:focus .editOverlay {
  opacity: 1;
}

.editOverlay {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.1s;
}

.editButton {
  display: flex;
  align-items: center;
  padding: 2px 8px;

  border: 1px solid #ffffff;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 2px rgba(22, 22, 23, 0.25),
    0px 0px 0px -2px rgba(22, 22, 23, 0.12),
    0px 0px 0px -2px rgba(22, 22, 23, 0.12),
    0px 0px 0px -2px rgba(22, 22, 23, 0.12);
  color: #161617;
  font-size: 14px;

  font-weight: 500;

  gap: 4px;
  line-height: 20px;
}

.editButton:hover,
.editButton:focus {
  border: 1px solid #ffffff;
  background: rgba(255, 255, 255, 0.65);
}