.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
  gap: 65px;
}

.wrapperCategory {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  max-width: cal(min(100%, 1048px));
}

.wrapperTemplates {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 160px);
  column-gap: 32px;
  row-gap: 24px;
  justify-content: space-between;
}

.wrapperAsset {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 160px;
  align-items: center;
}

.wrapperAsset:hover>.assetLabel {
  font-weight: 700;
}

.assetLabel {
  height: 40px;
  color: var(--ci-v2-foreground-black-default, #2e2e2f);
  text-align: center;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.28px;
}

.wrapperThumbnail {
  position: relative;
  padding: 12px;
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.wrapperThumbnail>img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  box-shadow:
    0px 0px 2px 0px rgba(46, 46, 47, 0.25),
    0px 4px 6px -2px rgba(46, 46, 47, 0.12),
    0px 2px 2.5px -2px rgba(46, 46, 47, 0.12),
    0px 1px 1.75px -2px rgba(46, 46, 47, 0.12);
}

.wrapperAsset:hover>.wrapperThumbnail {
  border-radius: var(--ubq-interactive-border_radius-large, 8px);
  background: #fff;
  box-shadow:
    0px 0px 2px 0px rgba(46, 46, 47, 0.25),
    0px 4px 6px -2px rgba(46, 46, 47, 0.12),
    0px 2px 2.5px -2px rgba(46, 46, 47, 0.12),
    0px 1px 1.75px -2px rgba(46, 46, 47, 0.12);
}

.wrapperAsset:hover>.wrapperThumbnail>.overlay,
.wrapperAsset:focus>.wrapperThumbnail>.overlay {
  opacity: 1;
  pointer-events: auto;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ci-v2-foreground-white-lighter,
      rgba(255, 255, 255, 0.35));
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s;
}

.openButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 6px 12px 5px 16px;
  border-radius: 8px;
  border: 1px solid var(--ci-border-black-light, rgba(22, 22, 23, 0.16));
  background: var(--ci-button-secondary-hover,
      linear-gradient(180deg,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(219, 222, 224, 0.3) 100%),
      #fff);
  color: var(--CI-Foreground-Black-Default, #161617);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.18px;
}

.openButton>svg {
  margin: 2px 0;
}

@container (width <=1000px) {
  .wrapperTemplates {
    display: grid;
    grid-template-columns: repeat(4, 160px);
    column-gap: 20px;
    row-gap: 24px;
  }
}

@container (width <=780px) {
  .wrapperTemplates {
    display: grid;
    grid-template-columns: repeat(3, 160px);
    column-gap: 20px;
    row-gap: 24px;
  }
}

@container (width <=600px) {
  .container {
    margin-top: 2rem;
  }

  .wrapperTemplates {
    display: grid;
    grid-template-columns: repeat(2, 160px);
    column-gap: 20px;
    row-gap: 24px;
  }
}