/* docs-theming-custom-theme */
.ubq-public[data-ubq-theme='dark'][data-ubq-scale='normal'] {
  --ubq-canvas: hsl(230.27, 52.11%, 13.92%);
  --ubq-elevation-1: hsl(230.4, 52.08%, 18.82%);
  --ubq-elevation-2: hsl(229.69, 52.46%, 23.92%);
  --ubq-foreground-default: hsla(0, 0%, 100%, 0.9);
  --ubq-foreground-light: hsla(0, 0%, 100%, 0.7);
  --ubq-foreground-info: hsla(0, 0%, 100%, 0.5);
  --ubq-interactive-default: hsl(229.87, 52.38%, 28.82%);
  --ubq-interactive-hover: hsl(229.69, 52.46%, 23.92%);
  --ubq-interactive-pressed: hsl(230.45, 52.38%, 16.47%);
  --ubq-input-default: hsl(234, 50%, 3.92%);
  --ubq-input-hover: hsl(228, 55.56%, 1.76%);
  --ubq-border-default: hsla(230, 52.17%, 63.92%, 0.1);
  --ubq-stroke-contrast-1: hsla(230, 52.17%, 63.92%, 0.08);
  --ubq-stroke-contrast-2: hsla(230, 52.17%, 63.92%, 0.25);
  --ubq-focus-outline: hsl(230.27, 52.11%, 13.92%);
  --ubq-overlay-default: hsla(230.27, 52.11%, 13.92%, 0.8);
  --ubq-foreground-active: hsla(210, 30%, 10%, 0.9);
  --ubq-interactive-active-default: linear-gradient(
      to bottom,
      hsla(0, 0%, 100%, 1),
      hsla(0, 0%, 100%, 0)
    ),
    hsla(0, 0%, 100%, 0.88);
  --ubq-interactive-active-hover: linear-gradient(
      to bottom,
      hsla(0, 0%, 100%, 1),
      hsla(0, 0%, 100%, 0)
    ),
    hsla(210, 100%, 95%, 0.98);
  --ubq-interactive-active-pressed: linear-gradient(
      to bottom,
      hsla(0, 0%, 100%, 1),
      hsla(0, 0%, 100%, 0)
    ),
    hsla(0, 0%, 100%, 0.5);
  --ubq-notice-info: hsla(0, 0%, 100%, 1);
  --ubq-foreground-accent: hsl(0, 0%, 0%);
  --ubq-interactive-accent-default: hsl(0, 0%, 100%);
  --ubq-interactive-accent-hover: hsl(0, 0%, 100%);
  --ubq-interactive-accent-pressed: hsl(0, 0%, 95%);
  --ubq-focus-default: hsl(288.99, 0%, 92.5%);
  --ubq-notice-warning: hsl(37.45, 0%, 93.5%);
  --ubq-notice-error: hsl(311.23, 0%, 88.9%);
  --ubq-notice-success: hsl(166.23, 0%, 92.19%);

  --ubq-typography-headline-l-size: 16px;
  --ubq-typography-headline-l-line_height: 20px;
  --ubq-typography-headline-l-letter_spacing: 0.01em;
  --ubq-typography-headline-l-font_family: var(
    --ubq-typography-font_family,
    'Inter',
    sans-serif
  );
  --ubq-typography-headline-l-weight: 600;

  --ubq-typography-headline-m-size: 12px;
  --ubq-typography-headline-m-line_height: 16px;
  --ubq-typography-headline-m-letter_spacing: 0.03em;
  --ubq-typography-headline-m-font_family: var(
    --ubq-typography-font_family,
    'Inter',
    sans-serif
  );
  --ubq-typography-headline-m-weight: 600;

  --ubq-typography-label-m-size: 12px;
  --ubq-typography-label-m-line_height: 16px;
  --ubq-typography-label-m-letter_spacing: 0.02em;
  --ubq-typography-label-m-font_family: var(
    --ubq-typography-font_family,
    'Inter',
    sans-serif
  );
  --ubq-typography-label-m-weight: normal;

  --ubq-typography-label-s-size: 10px;
  --ubq-typography-label-s-line_height: 14px;
  --ubq-typography-label-s-letter_spacing: 0.02em;
  --ubq-typography-label-s-font_family: var(
    --ubq-typography-font_family,
    'Inter',
    sans-serif
  );
  --ubq-typography-label-s-weight: normal;

  --ubq-typography-body-m-size: 12px;
  --ubq-typography-body-m-line_height: 18px;
  --ubq-typography-body-m-letter_spacing: 0.02em;
  --ubq-typography-body-m-font_family: var(
    --ubq-typography-font_family,
    'Inter',
    sans-serif
  );
  --ubq-typography-body-m-weight: normal;

  --ubq-typography-input-m-size: 12px;
  --ubq-typography-input-m-line_height: 16px;
  --ubq-typography-input-m-letter_spacing: 0.02em;
  --ubq-typography-input-m-font_family: var(
    --ubq-typography-font_family,
    'Inter',
    sans-serif
  );
  --ubq-typography-input-m-weight: unset;

  --ubq-typography-button-m-size: 12px;
  --ubq-typography-button-m-line_height: 16px;
  --ubq-typography-button-m-letter_spacing: 0.02em;
  --ubq-typography-button-m-font_family: var(
    --ubq-typography-font_family,
    'Inter',
    sans-serif
  );
  --ubq-typography-button-m-weight: unset;
}
/* docs-theming-custom-theme */
