.sectionHeaderWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.assetsWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 24px;
}

.assetWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: 20px;
  width: 285px;
  gap: 12px;
}

.loadingSpinnerWrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  background-color: rgb(220, 220, 220);
  animation: pulse 1.5s cubic-bezier(0.2, 0, 0.6, 1) infinite;
  position: relative;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 0.7;
  }

  50% {
    opacity: 0.3;
  }
}

.assetPreviewWrapper {
  width: 100%;
  position: relative;
}

.assetPreviewWrapper:hover .overlay,
.assetPreviewWrapper:focus .overlay {
  opacity: 1;
  pointer-events: auto;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s;
}

.editButton {
  display: flex;
  align-items: center;
  padding: 2px 8px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background: #ffffff;
  box-shadow:
    0px 0px 2px rgba(22, 22, 23, 0.25),
    0px 0px 0px -2px rgba(22, 22, 23, 0.12),
    0px 0px 0px -2px rgba(22, 22, 23, 0.12),
    0px 0px 0px -2px rgba(22, 22, 23, 0.12);
  color: #161617;
  font-size: 14px;
  font-weight: 500;
  gap: 4px;
  line-height: 20px;
}

.editButton:hover,
.editButton:focus {
  border: 1px solid #ffffff;
  background: rgba(255, 255, 255, 0.65);
}

.editButton:hover,
.editButton:focus {
  border: 1px solid #ffffff;
  background: rgba(255, 255, 255, 0.65);
}

.bold {
  font-weight: 500;
}

.assetDescription {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}