.searchWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  gap: 24px;
}

.searchBar {
  height: 40px;
  border-radius: 100px;
  border: 1px solid var(--ci-border-black-light, rgba(22, 22, 23, 0.08));
  box-shadow: 0px 2px 4px 0px rgba(18, 26, 33, 0.16) inset;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.18px;
}

.searchResults {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  align-items: start;
  justify-content: space-between;
  gap: 16px;
}

.placeholderTextSection {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.placeholderText {
  height: 14px;
  border-radius: 41px;
  background: #d9d9d9;
}

.long {
  width: 95%;
}

.short {
  max-width: 70%;
}

.podcastResultCard {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: stretch;
  justify-content: space-between;
  padding: 12px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.28px;
  border-radius: 8px;
  border: 2px solid transparent;
  text-align: left;
  max-height: 300px;
  position: relative;
}

.selected {
  border: 2px solid var(--ci-accent-primary, #5e58ff) !important;
}

.disabled {
  pointer-events: none;
}

.loading {
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

.placeholderImageWrapper {
  width: 100%;
  max-width: 160px;
}

.placeholderImage {
  width: 100%;
  object-fit: contain;
}

.loaderImageWrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  padding: 12px;
}

.loaderImage {
  width: 100%;
  object-fit: cover;
}

.podcastResultCardImage {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
  box-shadow:
    0px 0px 2px 0px rgba(46, 46, 47, 0.25),
    0px 4px 6px -2px rgba(46, 46, 47, 0.12),
    0px 2px 2.5px -2px rgba(46, 46, 47, 0.12),
    0px 1px 1.75px -2px rgba(46, 46, 47, 0.12);
  opacity: 100;
}

.podcastResultCard:hover {
  border-radius: 8px;
  border: 2px solid var(--ci-accent-primary-lighter, rgba(71, 26, 255, 0.25));
}

.podcastResultCardText {
  width: 100%;
  height: 100%;
}

.podcastResultCardTitle {
  font-weight: 500;
}

.truncate {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
