.caseWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
}

.kioskWrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
  border: 4px solid #ffffff;
  background: #ffffff;
  border-radius: 24px;
  box-shadow: 0px 0px 2px rgba(18, 26, 33, 0.25),
    0px 18px 18px -2px rgba(18, 26, 33, 0.12),
    0px 7.5px 7.5px -2px rgba(18, 26, 33, 0.12),
    0px 3.75px 3.75px -2px rgba(18, 26, 33, 0.12);

  /* Disabling selection as it triggers when moving blocks via touch on ios safari  */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 10px 10px 10px 10px;
}

@media (min-width: 1300px) {
  .wrapper {
    padding: 0 0 3rem 0;
  }
}

.headline {
  color: white !important;
  text-align: center;
}

.fullHeightWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
  background-color: #7b8187;
}

@media only screen and (min-width: 650px) {
  .caseWrapper {
    padding: 0;
  }
}
