.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  border-radius: 8px;

  color: rgba(18, 26, 33, 0.9);

  font-size: 14px;
  gap: 4px;
  line-height: 20px;
  text-align: center;
}

.wrapper--size-sm {
  padding: 0.5rem;
}

.wrapper--theme-primary {
  background: #471aff;
  color: #ffffff;
}

.wrapper--theme-menu {
  background: #e1e6ea;
  border-radius: 8px;
}

.wrapper:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.iconWrapper {
  display: flex;
  width: 100%;
  max-height: 100%;
  /* For Safari */
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  gap: 0.25rem;
  letter-spacing: 0.02em;
  line-height: 14px;
}

.wrapper svg {
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.wrapper:hover,
.wrapper:focus {
  color: #957aff;
}

.wrapper--active {
  background: rgba(71, 26, 255, 0.1);
  color: #471aff;
}

.wrapper:hover,
.wrapper:focus {
  color: #957aff;
}

.wrapper span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}