.root {
  display: flex;
  align-items: center;
}

.labelWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-basis: 200px;
}

.label {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  color: #161617;
  font-family: var(--font-family-ibm-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 20px;
}

.icon {
  display: flex;
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
  cursor: pointer;
}