.bar {
  width: 100%;
}

.sliderBarButtonWrapper {
  flex: 1;
  flex-grow: 1;
  justify-content: end;
}

.sliderBarButtonWrapper:first-of-type :first-child {
  margin-left: auto;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  gap: 2rem;
}