.container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  font-family: var(--font-family-ibm-sans);
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.0175rem;
  color: var(--ci-foreground-black-light, rgba(22, 22, 23, 0.65));
  height: 2rem;
}

.container.checked, .container:hover {
  color: var(--ci-foreground-black-default, #161617);
}

.container>svg {
  color: transparent
}

.container:hover>svg {
  color: #121A21;
}

.input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}


.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}