.wrapper--dark {
  --colorpicker-background-color: #161617;
  --colorpicker-border-color: rgba(255, 255, 255, 0.25);
  --colorpicker-arrow-color: white;
}

.wrapper--sm {
  --colorpicker-input-padding: 0.2rem 0.7rem 0.2rem 0.2rem;
}

.wrapper--lg {
  --colorpicker-input-padding: 6px 11px 6px 6px;
}

.wrapper--light {
  --colorpicker-background-color: white;
  --colorpicker-border-color: rgba(0, 0, 0, 0.25);
  --colorpicker-arrow-color: #161617;
}

.label {
  min-width: 5rem;
  font-family: var(--font-family-ibm-sans);
  font-size: 14px;
  letter-spacing: 0.02em;

  color: #161617;
}

.input {
  display: none;
}

.colorPreviewSpan {
  border-radius: 9999px;
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--colorpicker-border-color);
  color: var(--colorpicker-arrow-color);
}

.pickerModal {
  position: absolute;
  top: 2rem;
  left: 3rem;
  z-index: 99;
  background: white;
  padding: 0.4rem;
  box-shadow: 0px 0px 2px rgba(18, 26, 33, 0.25), 0px 12px 12px -2px rgba(18, 26, 33, 0.12), 0px 5px 5px -2px rgba(18, 26, 33, 0.12), 0px 2.5px 2.5px -2px rgba(18, 26, 33, 0.12);
  border-radius: 12px;
  margin: 0 !important;
  width: min-content;
}

.pickerModal :global(.react-colorful) {
  width: 150px;
  height: 150px;
}

.pickerModal input {
  width: 100%;
  border: 1px solid rgba(22, 22, 23, 0.08);
  box-shadow: inset 0px 2px 4px rgba(18, 26, 33, 0.16);
  border-radius: 6px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #161617;
}

.inputWrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: var(--colorpicker-input-padding);
  background: var(--colorpicker-background-color);
  color: var(--colorpicker-arrow-color);
  border: 1px solid rgba(22, 22, 23, 0.65);
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(18, 26, 33, 0.25), 0px 6px 6px -2px rgba(18, 26, 33, 0.12), 0px 2.5px 2.5px -2px rgba(18, 26, 33, 0.12), 0px 1.25px 1.25px -2px rgba(18, 26, 33, 0.12);
  border-radius: 9999px;
}

.selectionWrapper {
  display: flex;
  align-items: center;
  background: linear-gradient(0deg, #F4F4F5, #F4F4F5);
  margin-right: 0.5rem;
  border-radius: 9999px;
  position: relative;
}

.colorPreset {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  border-radius: 999px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.colorPreset:hover, .colorPreset:focus-visible {
  border: 1px solid rgba(0, 0, 0, 0.75);
}