.root {
  display: flex;
  flex-grow: 0;
  height: 32px;
  flex-basis: 10rem;
  padding: 6px 12px;
  border: 1px solid rgba(22, 22, 23, 0.16);
  background-color: rgba(255, 255, 255, 0.6);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'><path d='M7.62244 10.5867L4.24978 6.83423C3.96052 6.51239 4.18893 6 4.62166 6L11.3763 6C11.8093 6 12.0376 6.51306 11.7477 6.83474L8.36573 10.5872C8.16696 10.8078 7.82091 10.8076 7.62244 10.5867Z' fill='currentColor' fill-opacity='0.9'/></svg>"), linear-gradient(180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(219, 222, 224, 0.3) 100%);
  background-repeat: no-repeat;
  background-position-x: 95%, 100%;
  background-position-y: 50%, 100%;
  border-radius: 8px;
  color: #161617;
  font-family: var(--font-family-ibm-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 20px;
}