.button {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 3rem;

  padding: 0.25rem 0.5rem;
  justify-content: center;
  align-items: center;

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.0175rem;
}

.button:hover {
  cursor: pointer;
}

.error {
  border: 1px solid rgba(200, 17, 17, 0.16);
  background: #FBDAD6;
  color: #C81111;
}

.error:hover {
  background: #fec1ba;
}

.warning {
  border: 1px solid rgba(172, 97, 9, 0.16);
  background: #FBECD6;
  color: #AC6109;
}

.warning:hover {
  background: #ffdfaf;
}

.messages {
  padding: 1rem;
  margin-left: 1rem;
  color: #fff;
  hyphens: none;
}