.wrapper {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.25rem;

  font-size: 14px;
  line-height: 20px;

  color: rgba(18, 26, 33, 0.9);
  width: 64px;
  height: 56px;
  border-radius: 8px;
  padding: 0.25rem;
}

.wrapper span {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wrapper svg {
  max-width: 100%;
  max-height: 100%;
}

.wrapper:hover {
  /* TODO Fix */
  color: #957aff;
}

.wrapper--active {
  color: #471AFF;
  background: rgba(71, 26, 255, 0.1);
}